.ion-page-account{
   justify-content: flex-start
}

ion-card{
   /* margin-top:0px; */
   background-color:whitesmoke;
}
ion-card-header{
   width:100%;
}

ion-card-title{
   text-align: left;
}

.acc-title{
   margin-top:15px;
   font-size: 30px;
   font-weight: bold;
   opacity: 100%;
   color:black;
}


.err {
   margin-left: 4px;
   font-size: 13px;
   color: #e64646;
 }
 
ion-item{
   margin-bottom: 15px;
}

.form-field{
   border-radius:15px;
   /* height:60px; */
}

.login-button{
   border-radius:15px;
   perspective: 1px;
   overflow:hidden;
}

.google-button{
   border-radius:15px;
   perspective: 1px;
   overflow:hidden;
}

.ion-content{
   margin-bottom:100px
}

.logo-div{
   display:flex;
   align-items: center;
   justify-content: center;
}
.mood-logo{
    width:60%;
    
}

.rememberme{
    font-weight:bold;
}

ion-toast.custom-toast {
   --background: #F4F4FA;
   --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
   --color: #4b4a50;
 }