.ioncontent {
    margin: 0px;
    padding: 0px;
}

.ionGrid {
    margin: 30px 10px 10px 10px;
    padding: 0px;
}

.title {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generatedEmojiCard {
    box-sizing: border-box;

    width: 200px;
    height: 200px;

    background: linear-gradient(166.68deg, #FFF4EB 1.06%, rgba(255, 255, 255, 0.5) 1.07%, #FFFFFF 39.99%, #FFFFFF 65.31%, #FFF4EB 95.98%, rgba(255, 255, 255, 0.2) 95.98%);
    box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

.generatedEmojiImage {
    width: 166.67px;
    height: 166.67px;
}

.checkEmojiCard {
    height: 500px;

    background: linear-gradient(103.96deg, rgba(255, 255, 255, 0.6) 47.03%, rgba(255, 255, 255, 0.3) 108.98%);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.emojiCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.emojiCard {
box-sizing: border-box;

width: 70px;
height: 70px;

background: linear-gradient(166.68deg, #FFF4EB 1.06%, rgba(255, 255, 255, 0.5) 1.07%, #FFFFFF 39.99%, #FFFFFF 65.31%, #FFF4EB 95.98%, rgba(255, 255, 255, 0.2) 95.98%);
box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.15);
border-radius: 18px;
}

.emojiImage {
width: 50px;
height: 50px;
}