.ioncontent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:30px;
}
 
.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 55.5px;
    margin: 20px 10px 10px 10px;
    padding: 0px;
    box-sizing: border-box;

    background: linear-gradient(103.96deg, rgba(255, 255, 255, 0.85) 14.44%, rgba(255, 255, 255, 0.6) 44.64%, rgba(255, 255, 255, 0.7) 76.39%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.statusCardContent {
    margin: 0px !important;
    padding: 5px 10px 5px 10px !important;
}

.statusGrid {
    margin: 0px !important;
    padding: 0px !important;
}

.statusBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
}

.statusvalues {
    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.55);
}

.statuslabels {
    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 8px !important;
    line-height: 9px;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.55);
}

.statusimages {
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 7px;
}

.card2 {
    height: 55px;
    margin: 0px 20px 20px 20px;
    padding: 0px;

    background: linear-gradient(103.96deg, rgba(255, 255, 255, 0.6) 14.44%, rgba(255, 255, 255, 0.3) 76.39%);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.chooseDate {
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    margin: 0px 20px 0px 20px;
    padding: 0px;
}

.dayBackground{
    margin: 0px 20px 0px 0px;
    padding: 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.entryBackground {
    margin: 0px; 
    padding: 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.day {
    width: 50px;
    height: 30px;
    margin: 0px;
    padding: 0px;

    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Convergence !important;

    background: linear-gradient(103.96deg, rgba(255, 255, 255, 0.6) 14.44%, rgba(255, 255, 255, 0.3) 76.39%);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.inputTypeBackground {
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inputType {
    width: 150px;
    height: 34px;
    margin: 0px;
    padding: 0px;

    background: rgba(217, 217, 217, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.inputTypes {
    width: 10px;
    margin: 0px !important;
    border-radius: 20px !important;
}

.entries {
    margin: 0px 20px 0px 20px;
    padding: 0px;
    height: 60vh;
    overflow-x: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entryDateDay {
    margin: 0px;
    padding: 25px 20px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.entryDate {
    margin: 0px 0px 5px 0px;
    padding: 0px;

    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.55);
}

.entryDay {
    margin: 0px;
    padding: 0px;

    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    /* identical to box height */

    color: rgba(0, 0, 0, 0.3);
}

.entryList {
    margin: 0px;
    padding: 0px;
}

.entryListCard {
    height: 150px;
    margin: 10px;
    padding: 0px;

    background: linear-gradient(103.96deg, rgba(255, 255, 255, 0.6) 14.44%, rgba(255, 255, 255, 0.3) 76.39%);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;

    /* Rectangle 26 */
}

.entryTitle {
    font-size: 15px;
    font-family: Convergence !important;
}

.entryTime {
    margin: 0px 0px 30px 0px;
    font-size: 10px;
    font-family: Convergence !important;
}

.entryText {
    font-size: 8px;
    font-family: NotoSans-Italic !important;
}

/* ion-row.entryRow:last-child{
    margin-bottom:30px;
} */

