.ioncontent {
    margin: 0px;
    padding: 0px;
}

.ionGrid {
    margin: 30px 10px 10px 10px;
    padding: 0px;
}

.headingBackground {
    margin: 0px 10px 0px 10px;
    padding: 0px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    margin: 0px;
    padding: 0px;
}

.dayBackground {
    margin: 0px 2px 0px 5px;
}

.dayNo {
    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;

    color: #000000;
}

.year {
    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: rgba(0, 0, 0, 0.3);
}

.month {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: rgba(0, 0, 0, 0.5);
}

.questionMarkBackground {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.questionMark {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;

    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
}

.questionMarkImg {
    width: 30px;
    height: 30px;
    color: #424242;
}

.questionCardBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionCard {
    box-sizing: border-box;

    width: 330px;
    height: 60px;
    margin: 10px 20px 10px 20px;
    padding: 0px;

    background: radial-gradient(100% 1969.14% at 100% 0%, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 31.93%, rgba(255, 255, 255, 0.6) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 8px 8px 5px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}