.ioncontent {
    margin: 0px;
    padding: 0px;
}

.ionGrid {
    margin: 30px 10px 10px 10px;
    padding: 0px;
}

.headingBackground {
    margin: 0px 20px 0px 20px;
    padding: 0px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    margin: 0px;
    padding: 0px;
}

.dayBackground {
    margin: 0px 2px 0px 5px;
}

.dayNo {
    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;

    color: #000000;
}

.year {
    font-family: 'Convergence';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: rgba(0, 0, 0, 0.3);
}

.month {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    color: rgba(0, 0, 0, 0.5);
}

.questionMarkBackground {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.questionMark {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;

    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
}

.questionMarkImg {
    width: 30px;
    height: 30px;
    color: #424242;
}

.journalEntryCard {
    box-sizing: border-box;

    width: 355px;
    height: 598px;

    background: linear-gradient(166.68deg, #FFF4EB 1.06%, rgba(255, 255, 255, 0.5) 1.07%, #FFFFFF 39.99%, #FFFFFF 65.31%, #FFF4EB 95.98%, rgba(255, 255, 255, 0.2) 95.98%);
    border-radius: 28px;
}

.titleInputBackground {
    height: 50px;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titleInput {
    font-family: 'NotoSans';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: rgba(0, 0, 0, 0.5);
}

.selectMode {
    font-family: 'Nunito-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.2);
}

.bodyInputBackground {
    height: 470px;
    margin: 0px;
    padding: 0px;
}

.bodyInput {
    font-family: 'NotoSans';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    color: rgba(0, 0, 0, 0.75);
}

.inputTypeBackground {
    height: 50px;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inputType {
    width: 150px;
    height: 34px;
    margin: 0px;
    padding: 0px;

    background: rgba(217, 217, 217, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.inputTypes {
    width: 10px;
}